body {

    background: url('hokusai.jpg') center;
    background-size: 100%;
    font-family: 'Titillium Web', sans-serif;
    color: #384047;
}
form {
  max-width: 300px;
  margin: 10px auto;
  padding: 70px;
  background: #f4f7f8;
  
}
@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

form div{
	margin: 3px auto;
}
.inputStyle{
	font-family: 'Titillium Web', sans-serif;
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
  border: 1px solid #5E6E66;
}
.passError{
	color: #FF1F1F;
}